@font-face{
    font-family:'OPPOSans-Bold';
    src:
        url('https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.woff2') format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.ttf) format("truetype"),
        url(https://www.oppo.com/cn/assets/src/fonts/zh-CN/OPPOSansB/OPPOSans-B.svg) format("svg"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.eot) format("embedded-opentype");
    font-weight:200;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'OPPOSans-Medium';
    src:
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.woff2) format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.ttf) format("truetype"),
        url(https://www.oppo.com/cn/assets/src/fonts/zh-CN/OPPOSansM/OPPOSans-M.svg) format("svg"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.eot) format("embedded-opentype");
    font-weight:200;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'OPPOSans-Regular';
    src:
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.woff2) format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.ttf) format("truetype"),
        url(https://www.oppo.com/cn/assets/src/fonts/zh-CN/OPPOSansR/OPPOSans-R.svg) format("svg"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.eot) format("embedded-opentype");
    font-weight:200;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'OPPOSans-Ver2-Bold';
    src:
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff2) format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.ttf) format("truetype"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.eot) format("embedded-opentype");
    font-weight:400;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'OPPOSans-Ver2-Medium';
    src:
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff2) format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.ttf) format("truetype"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.eot) format("embedded-opentype");
    font-weight:400;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'OPPOSans-Ver2-Regular';
    src:
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff2) format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.ttf) format("truetype"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.eot) format("embedded-opentype");
    font-weight:400;
    font-style:normal;
    font-display:swap
}

body{
    margin: 0px;
    padding: 0px;
}
.root{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    position: fixed;
    top:0;
    height: 52px;
}

.header-div{
    height: 100%;
    width: 100%;
    background-color: lightseagreen;
}
.section-one{
    height: 768px;
    margin-top: 52px;
    width: 100%;
    background-color: lightcoral;
}

.section-two{
    height: 1408.720px;
    width: 100%;
    background-color: lightcyan;
}

.section-three{
    height: 786.188px;
    width: 100%;
    background-color: lightgoldenrodyellow;
}

.section-four{
    height: 633.188px;
    width: 100%;
    background-color: lightgray;
}

.section-five{
    height: 762.188px;
    width: 100%;
    background-color: lightgreen;
}

.section-six{
    height: 738.188px;
    width: 100%;
    background-color: lightpink;
}

.section-seven{
    height: 456px;
    width: 100%;
    background-color: lightsalmon;
}

.footer{
    height: 763px;
    width: 100%;
    padding-top: 36px;
}

.footer-div{
    height: 100%;
    width: 100%;
    
    background-color: black;
}
