@font-face{
    font-family:'OPPOSans-Bold';
    src:
        url('https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.woff2') format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.ttf) format("truetype"),
        url(https://www.oppo.com/cn/assets/src/fonts/zh-CN/OPPOSansB/OPPOSans-B.svg) format("svg"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.eot) format("embedded-opentype");
    font-weight:200;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'OPPOSans-Medium';
    src:
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.woff2) format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.ttf) format("truetype"),
        url(https://www.oppo.com/cn/assets/src/fonts/zh-CN/OPPOSansM/OPPOSans-M.svg) format("svg"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.eot) format("embedded-opentype");
    font-weight:200;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'OPPOSans-Regular';
    src:
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.woff2) format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.ttf) format("truetype"),
        url(https://www.oppo.com/cn/assets/src/fonts/zh-CN/OPPOSansR/OPPOSans-R.svg) format("svg"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.eot) format("embedded-opentype");
    font-weight:200;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'OPPOSans-Ver2-Bold';
    src:
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff2) format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.ttf) format("truetype"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.eot) format("embedded-opentype");
    font-weight:400;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'OPPOSans-Ver2-Medium';
    src:
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff2) format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.ttf) format("truetype"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.eot) format("embedded-opentype");
    font-weight:400;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'OPPOSans-Ver2-Regular';
    src:
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff2) format("woff2"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.woff) format("woff"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.ttf) format("truetype"),
        url(https://www.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSansWeb2.eot) format("embedded-opentype");
    font-weight:400;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'icomoon';
    src:url(/fonts/fonts/icomoon.eot);
    src:
    url(/fonts/fonts/icomoon.eot) format("embedded-opentype"),
    url(/fonts/fonts/icomoon.ttf) format("truetype"),
    url(/fonts/fonts/icomoon.woff) format("woff"),
    url(/fonts/fonts/icomoon.svg) format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'OPPOSans-Ver2-Regular','OPPOSans-Regular',Helvetica,Arial,sans-serif,system-ui;
}

a{
    text-decoration: none;
    color: black
}

*:focus {
    outline: none;
}

*{
    box-sizing: border-box;
}

.root{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    position: fixed;
    top:0;
    height: 52px;
    background: #fff;
    display: block;
    z-index: 1;
}

.header-div{
    z-index: 1;
    height: 100%;
    width: auto;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 64px;
    padding-right: 64px;

    border-bottom-width: 1px;
    border-bottom-color: rgb(236, 236, 236);
    border-bottom-style: solid;
}

.header-sections{
    width: auto;
    height: 100%;
    display:flex;
    align-items: center;
}

.header-nav{
    z-index: 1;
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.head-nav-items-right{
    font-family: 'OPPOSans-Ver2-Medium';
    font-weight: 700;
}

.head-nav{
    font-size: 14px;
    color: rgba(0,0,0,0.55);
    font-weight: 750;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

.head-nav:hover{
    color: black;
}

.header-support-items{
    font-family: 'OPPOSans-Ver2-Regular','OPPOSans-Regular',Helvetica,Arial,sans-serif,system-ui;
    font-weight: 400;
}

.search{
    padding: 8px 12px;
    background: #f6f6f6;
    border-radius: 32px;
    margin: 0 16px 0 8px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

.search-placeholder{
    width: 185px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    padding-left: 5px;
    font-size: 12px;
    outline: 0;
    border: 0;
    background: transparent;
    color: rgba(0,0,0,0.95);
}

.fill{
    fill: black;
    opacity: .55;
    border: none;
    transition: all .25s;
}

.fill:hover{
    opacity: 1;
}

.user-cart{
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    margin-right: 0;
    width: 64px;
    justify-content: space-between;
}

.usercart-element{
    height: 24px;
    width: 24px;
}

.usercart-element:hover{
    background: rgba(0,0,0,0.06);
    border-radius: 50%;
}

.icon-image{
    width: 100%;
    height: 100%;
    object-fit:fill;
    color: black;
    opacity: 1;
}

.section-one{
    height: 768px;
    margin-top: 52px;
    width: 100%;
    background: url(/images/section-one.webp);
    background-size: cover;
    display: flex;
    align-items: center;
}

.section-one-banner{
    width: auto;
    color: #FFFFFF;
    margin-left: 108px;
}

#title{
    font-size: 52px;
    line-height: 72px;
    font-family: 'OPPOSans-Ver2-Medium';
    font-weight:  750;
    margin: 0;
}

#subtitle{
    margin-top: 12px;
    font-size: 28px;
    line-height: 44px;
    font-family: 'OPPOSans-Ver2-Medium';
    font-weight: 750;
}

#description{
    margin-top: 12px;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    opacity: .56;
}

#learn-more{
    width: 135px;
    margin-top: 32px;
    padding: 12px 24px;
    font-size: 16px;
    font-family: 'OPPOSans-Ver2-Medium';
    font-variation-settings: 'wght' 750;
    color: #000;
    line-height: 28px;
    background-color: #fff;
    cursor: pointer;
}

#learn-more:hover{
    opacity: .9;
}

.inner-section{
    padding-top: 128px;
    padding-bottom: 128px;
    margin-left: 103.6px;
    margin-right: 103.6px;
    width: auto;
    overflow-x: hidden;
}

.card-image-back{
    background-color: transparent;
    overflow: hidden;
    z-index: -1;
    cursor: pointer;
}

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    scale: 1.1;
    transition: transform .25s;
}

.card-image:hover{
    transform: scale(.9);
}

.card-title{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0;
    margin-top: 16px;
    line-height: 170%;
    font-family: 'OPPOSans-Ver2-Medium';
    font-variation-settings: 'wght' 450;
    cursor: pointer;
}

.tag{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 14px;
    color: #2ec84d;
    font-size: 8px;
    line-height: 14px;
    font-family: 'OPPOSans-Ver2-Medium';
    font-variation-settings: 'wght' 750;
}

.card-description{
    width: max-content;
    margin-top: 3px;
    font-size: 14px;
    line-height: 150%;
    opacity: 1;
    text-align: left;
    font-variation-settings: 'wght' 150;
    overflow-wrap: break-word;
    cursor: pointer;
}

.card-actions{
    margin-top: 10px;
    padding-bottom: 4px;
    font-size: 12px;
}

.card-button{
    background-color: #000;
    display: inline-block;
    color: #fff;
    border: 0;
    padding: 6px 16px;
    border-radius: 2px;
    margin-right: 12px;
    cursor: pointer;
}

.card-learn-more{
    padding-bottom: 2px;
    border-bottom: 1px solid;
    margin-right: 12px;
    font-weight: 500;
    line-height: 170%;
    font-family: 'OPPOSans-Ver2-Regular';
    font-variation-settings: 'wght' 550;
    color: #000;
    cursor: pointer;
}

.hover-card-element:hover{
    opacity: .7;
}

.card-price{
    font-size: 14px;
    line-height: 20px;
    font-family: 'OPPOSans-Ver2-regular';
    font-variation-settings: 'wght' 501;
    padding-top: 12px;
    margin-bottom: -5px;
}

.card-price-underlined{
    margin-left: 6px;
    color: #0000004d;
    text-decoration: line-through;
}

.horizontal-scrolling{
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 40px;
}

.horizontal-scrolling::-webkit-scrollbar-track {
    background-color: transparent;
}

.horizontal-scrolling::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(85, 85, 85, 0.585);
    display: none;
    transition: all 3s;
}

.horizontal-scrolling::-webkit-scrollbar {
    height: 4px;
    width: 12px;
    background-color: #f5f5f500;
}

.horizontal-scrolling::-webkit-scrollbar-thumb:hover {
    display:block;
}

.horizontal-scrolling:hover::-webkit-scrollbar-thumb{
    display: block;
}

.section-two{
    width: 100%;
    background-color: #F3F3F3;
}

.section-two-title{
    font-size: 42px;
    font-family: 'OPPOSans-Ver2-Regular';
    font-variation-settings: 'wght' 550;
    line-height: 120%;
    margin: 0;
    margin-bottom: 48px;
}

.section-two-product-contents{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#section-two-left{
    width: 652px;
    height: auto;
}

#section-two-right{
    width: 490px;
    height: auto;
}

.sections-title{
    padding-bottom: 36px;
    text-align: left;
    font-size: 36px;
    line-height: 44px;
    display: inline-block;
    font-variation-settings: 'wght' 550;
    margin: 0;
}

.section-three{
    height: auto;
    width: 100%;
    background-color: white;
}

.section-three-small-card{
    height:auto;
    width: 424px;
    margin-right: 20px;
}

.section-four{
    height: auto;
    width: 100%;
}

.section-five{
    height: auto;
    width: 100%;
    background-color: #F3F3F3;
}

.section-six{
    height: auto;
    width: 100%;
}

.section-seven{
    height: 456px;
    width: 100%;
    background-color: #f9f4ec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'OPPOSans-Ver2-Regular';
    font-variation-settings: 'wght' 550;
}

.section-seven-title{
    font-size: 36px;
    line-height: 43px;
    margin: 0;
    margin-bottom: 20px;
}

.section-seven-description{
    font-size: 16px;
    line-height: 24px;
    color: #666;
    margin: 0px;
    margin-bottom: 40px;
    text-align: center;
}

.number-input-box{
    height: 50px; 
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}


.section-seven-inline{
    width: auto; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number-input-area{
    height: 100%;
    width: calc(100% - 128px);
    background-color: white;
    padding: 12px 16px;
    display: flex;
}

.number-input-place{
    padding-left: 5px;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    background: #fff;
}

.country-code{
    width: min-content;
    margin: 0;
    padding-right: 4px;
    border-right: 1px solid rgba(0,0,0,0.15);
}

.subscribe-button{
    background: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 100%;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    cursor: no-drop;
}

.clause{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #999;
    text-align: left;
    width: 100%;
}

.footer{
    height: auto;
    width: 100%;
}

.footer-div{
    height: 763px;
    width: 100%;
    
    padding-top: 36px;
    background-color: #121212;;
}

.main-footer{
    position: relative;
    width: 100%;
    margin: auto;
    padding: 32px 99.6px; 
}

.footer-nav{
    flex-direction: row;
    display: flex;
    list-style: none;
}

dl{
    margin: 0;
    margin-bottom: 52px;
    width: 200px;
    margin-right: 20px;
}

dd{
    margin: 0;
}

dt{
    margin: 0;
    font-family: 'OPPOSans-Ver2-Medium';
    font-variation-settings: 'wght' 750;
    color: white;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 12px;
}

.footer-nav-element{
    margin: 0;
    margin-bottom: 4px;
    color: rgba(255,255,255,0.6) !important;
    display: block;
    font-size: 12px;
    line-height: 20px;
}

.footer-contact{
    
}

.contact-tab{
    width: 221px;
    height: auto;
}

.hotline{
    font-family: 'OPPOSans-Ver2-Medium';
    font-variation-settings: 'wght' 750;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px solid #fff;  
    color: #fff;
    margin-bottom: 8px;
}

.hotline-number{
    margin-top: 16px;
    margin-right: 20px;
    color: #fff;
    font-family: 'OPPOSans-Ver2-Regular';
    font-variation-settings: 'wght' 750;
    font-size: 14px;
    line-height: 24px;
}

.remarks-hotline{
    font-variation-settings: 'wght' 550;
    font-family: 'OPPOSans-Ver2-Regular','OPPOSans-Regular',Helvetica,Arial,sans-serif,system-ui;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 8px;
    color: #666;
}

.contact-bottom{
    font-size: 14px;
    font-variation-settings: 'wght' 550;
    font-family: 'OPPOSans-Ver2-Regular', 'icomoon', 'OPPOSans-Regular',Helvetica,Arial,sans-serif,system-ui;
    color: rgba(255,255,255,0.6);
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}


.social-media{
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 900px;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.social-media-items{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.5);
    font-family: 'icomoon';
}

.facebook::before {
    content: "\ea88";
}

.twitter::before{
    content: "\ea96";
}

.youtube::before{
    content: "\ea9d";
}

.instagram::before{
    content: "\ea92";
}
